body {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

body h1 {
  text-align: center;
  color: rgb(13, 61, 150);
  font-size: 10rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 0;
  margin-right: 0;
  padding-left: 3rem;
  padding-right: 3rem;

  background-color: antiquewhite;
}

h2 {
  margin-top: -2rem;
  text-align: end;
  padding-right: 5rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(100, 65, 22);
}

h3 {
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: rem;
  color: rgb(99, 74, 225);
  padding-left: 2rem;
}
